<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MMM</title>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </meta>
</head>
<body class="main-body">
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><四季の昆虫></a>
        <%= link_to "ログイン", "#",class: "btn btn-lg btn-info nav-bar_user-login" %>
        <%= link_to "ログアウト", "#",class: "btn btn-lg btn-default nav-bar_user-logout" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href="#"></a>
          </li>
          <li>
            <a href=""></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</heder>
<%= yield %>
</body>
<footer>
  <p> Kenichi Watanabe create 2017</p>
</footer>
</html>