<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>MMM</title>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </meta>
</head>
<body class="main-body">
</header>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-main">
    <div class="navbar-brand" href="#"> Seasons insects </div>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="#"></a>
      </li>
      <li>
        <a href="#"></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
</nav>
</div>
</heder>
<%= yield %>
</body>
<footer>
  <p> Kenichi Watanabe create 2017</p>
</footer>
</html>